<!-- Nav Start-->
<header class="agency nav-abs custom-scroll " style="position: fixed;">
    <div class="container">
        <div class="row">
            <div class="col">
                <nav>
                    <!-- <img src="assets/images/new/IMG_9314.PNG" alt="" class="img-fluid puipui"> -->
                    <a href="#" class="d-inline-block m-r-auto" *ngIf="this.test">
                        <img src="assets/images/new/IMG_9314.PNG" class="img-fluid puipui" width="400">
                    </a>
                    <app-menu (nameEvent)="nameEventHander($event)" ></app-menu>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- Nav end-->


<!-- <nav>
    <a href="#" class="logo-light d-inline-block m-r-auto"><img src="assets/images/logo/9.png" alt="" class="img-fluid"></a>
    <app-menu></app-menu>
</nav> -->