@media only screen and (min-device-width: 360px){
    nav {
        .puipui {
            // max-width: 100% !important;
            display: none;
        }
        
    }
}

@media (min-width:320px)  { nav {
    .puipui {
        // max-width: 100% !important;
        display: none;
    }
    
} }
@media (min-width:480px)  { nav {
    .puipui {
        // max-width: 100% !important;
        display: none;
    }
    
} }
@media (min-width:600px)  { nav {
    .puipui {
        // max-width: 100% !important;
        display: block;
    }
    
} }
@media (min-width:801px)  { nav {
    .puipui {
        // max-width: 100% !important;
        display: block;
    }
    
}}
@media (min-width:1025px) { av {
    .puipui {
        // max-width: 100% !important;
        display: block;
    }
    
}  }
@media (min-width:1281px) { av {
    .puipui {
        // max-width: 100% !important;
        display: block;
    }
    
}  }

@media only screen and (min-device-width: 960px){
    nav {
        .puipui {
            max-width: 60% !important;
            padding-top: 20px;
        }
    }
}

nav {
    .puipui {
        max-width: 75%;
    }
}
