<!--header start-->
<section class="agency header" id="home" #home>
    <div class="agency bg" style="background-position: 75% 100%;" [ngStyle]="{'background-image': 'url(assets/images/new/cover_1.jpg)'}">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <!-- <div class="center-text">
                        <div style="background:rgba(255,255,255, 0.7);
                        text-align: center;
                        display: block;
                        margin: 0 auto;
                        padding: 50px;">
                            <div>
                                <h1 class="text-uppercase" style="color: #10266b;"><span class="bold-text">"Action explain more than words"</span></h1>
                            </div>
                        </div>
                    </div> -->
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
</section>
<!--header end-->