<div class="pui-container" [hidden]="this.tab !== 1">
    <ngb-tabset>
      <ngb-tab title="{{data[0].data.name}}" *ngFor="let data of items">
        <ng-template ngbTabContent>
              <gallery id="{{data[0].data.name}}" [items]="data"></gallery>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
</div>

<div class="pui-container" [hidden]="this.tab !== 2">
  <ngb-tabset>
    <ngb-tab title="{{data[0].data.name}}" *ngFor="let data of items">
      <ng-template ngbTabContent>
            <gallery id="{{data[0].data.name}}" [items]="data"></gallery>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>

<div class="pui-container" [hidden]="this.tab !== 3">
  <ngb-tabset>
    <ngb-tab title="{{data[0].data.name}}" *ngFor="let data of items">
      <ng-template ngbTabContent>
            <gallery id="{{data[0].data.name}}" [items]="data"></gallery>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>

<div class="pui-container" [hidden]="this.tab !== 4">
  <ngb-tabset>
    <ngb-tab title="{{data[0].data.name}}" *ngFor="let data of items">
      <ng-template ngbTabContent>
            <gallery id="{{data[0].data.name}}" [items]="data"></gallery>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>

<div class="pui-container" [hidden]="this.tab !== 5">
  <ngb-tabset>
    <ngb-tab title="{{data[0].data.name}}" *ngFor="let data of items">
      <ng-template ngbTabContent>
            <gallery id="{{data[0].data.name}}" [items]="data"></gallery>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>

<div class="pui-container" [hidden]="this.tab !== 6">
  <ngb-tabset>
    <ngb-tab title="{{data[0].data.name}}" *ngFor="let data of items">
      <ng-template ngbTabContent>
            <gallery id="{{data[0].data.name}}" [items]="data"></gallery>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>

<div class="pui-container" [hidden]="this.tab !== 7">
  <ngb-tabset>
    <ngb-tab title="{{data[0].data.name}}" *ngFor="let data of items">
      <ng-template ngbTabContent>
            <gallery id="{{data[0].data.name}}" [items]="data"></gallery>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>

<div class="pui-container" [hidden]="this.tab !== 8">
  <ngb-tabset>
    <ngb-tab title="{{data[0].data.name}}" *ngFor="let data of items">
      <ng-template ngbTabContent>
            <gallery id="{{data[0].data.name}}" [items]="data"></gallery>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>

<div class="pui-container" [hidden]="this.tab !== 9">
  <ngb-tabset>
      <ngb-tab title="Heart Show 2019">
        <ng-template ngbTabContent>
              <gallery id="basic-tes1t" [items]="items[0]"></gallery>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="SAT Sports Expo@บุรีรัมย์-2019">
          <ng-template ngbTabContent>
                <gallery id="basic-tes1t" [items]="items[1]"></gallery>
          </ng-template>
        </ngb-tab>
  </ngb-tabset>
</div>

<div class="pui-container" [hidden]="this.tab !== 10">
  <ngb-tabset>
    <ngb-tab title="{{data[0].data.name}}" *ngFor="let data of items">
      <ng-template ngbTabContent>
            <gallery id="{{data[0].data.name}}" [items]="data"></gallery>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>

<div class="pui-container" [hidden]="this.tab !== 11">
  <ngb-tabset>
    <ngb-tab title="{{data[0].data.name}}" *ngFor="let data of items">
      <ng-template ngbTabContent>
            <gallery id="{{data[0].data.name}}" [items]="data"></gallery>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>

<div class="pui-container" [hidden]="this.tab !== 12">
  <ngb-tabset>
    <ngb-tab title="{{data[0].data.name}}" *ngFor="let data of items">
      <ng-template ngbTabContent>
            <gallery id="{{data[0].data.name}}" [items]="data"></gallery>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>

<div class="pui-container" [hidden]="this.tab !== 13">
  <ngb-tabset>
    <ngb-tab title="{{data[0].data.name}}" *ngFor="let data of items">
      <ng-template ngbTabContent>
            <gallery id="{{data[0].data.name}}" [items]="data"></gallery>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>

<div class="pui-container" [hidden]="this.tab !== 14">
  <ngb-tabset>
    <ngb-tab title="{{data[0].data.name}}" *ngFor="let data of items">
      <ng-template ngbTabContent>
            <gallery id="{{data[0].data.name}}" [items]="data"></gallery>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>

<div class="pui-container" [hidden]="this.tab !== 15">
  <ngb-tabset>
    <ngb-tab title="{{data[0].data.name}}" *ngFor="let data of items">
      <ng-template ngbTabContent>
            <gallery id="{{data[0].data.name}}" [items]="data"></gallery>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
