<!--agency content start-->
<section class="agency agency-content about-bg" id="aboutus" #aboutus [ngStyle]="{'background-image': 'url(assets/images/new/bg_welcome.png)'}">
    <!-- <h3 class="text-as-shadow">About <br/> us</h3> -->
    <div class="container" style="min-height: 700px;">
        <!-- <div class="row">
            <div class="col-xl-12">
                <div class="agency-header-center-container">
                    <div class="borders"></div>
                    <div class="agency-head text-center">
                        <img src="assets/images/new/_0000_Logo-Ipulse.png" alt="">
                    </div>
                </div>
            </div>
        </div> -->
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
                <img src="assets/images/new/_0000_Logo-Ipulse.png" alt="" style="width: 50%;">
            </div>
          </div>
    </div>
</section>
<!--agency content end-->
