<!--counter section start-->
<section class="agency counter counter-bg" id="counter" #counter [ngStyle]="{'background-image': 'url(assets/images/new/bg_service.png)'}">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-6">
                <div class="">
                    <img src="assets/images/new/Fact-About-us.png" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-md-9 col-6 counter-container">
                
            </div>
        </div>
    </div>
</section>
<!--counter section end-->
