li {
    font-weight: 500;
    color: #cfd4da;
}

.main-menu li {
    a {
        padding: 20px;
    }
    img {
        width: 80%;
    }
}

@media only screen and (min-device-width: 360px){
    .main-menu li {
        img {
            width: 40%;
        }
    }
    
}

@media only screen and (min-device-width: 960px){
    .main-menu li {
        img {
            width: 80%;
        }
    }
}


.navbar_pui {
    background: #1c2440;
    color: #cfd4da;
    overflow-Y: scroll;
    height: 100vh;
    top: 0;
    padding: 0;
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.13);
    z-index: 9;
    width: 200px;
    right: 0px;
    transition: 0.5s;
    position: fixed;
    display: block;
    .responsive-btn {
        border-color: rgba(255, 255, 255, 0.08);
        display: block;
        width: 100%;
        padding: 20px;
        border-bottom: 1px solid #dddddd;
    }
    ul {
        width: 100%;
        padding: 15px 0;
        margin: 0;
        border: 0;
        line-height: 1;
        list-style-type: none;
        text-align: center;
        li {
            font-weight: 500;
            color: #cfd4da;
            margin-top: 0;
            margin-bottom: 0;
            display: block;
            margin: 0;
            border: 0;
            line-height: 1;
            position: relative;
            text-align: center;
            a {
                padding: 20px;
                color: #cfd4da;
                text-transform: capitalize;
                letter-spacing: 1px;
            }
        }
    }
}

.openSidebar {
    right: 0px !important;
}

.pui-font {
    font-family: "friend-regular";
    color: white;
    font-size: 22px;
}